

.heroimg {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
  }
.hero-text {
    text-align: center;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
    font-family: fantasy;
    color: #d9e6e6dd;
    width: 80%;
}  